extends account

block accountInfo
  form.well.form-horizontal(action="/account/editPassword", method="post")
    input(type='hidden', name='_csrf', value=token).control-group
    h2= title
    if (message.length>0)
      p!= message
    label.control-label(for='currentPassword') Current Password
    .controls
      input#currentPassword.span2.required(type='password', name="currentPassword", value=formData.first)
    
    hr

    .control-group
      label.control-label(for='newPassword') New Password
      .controls
        input#newPassword.span2.required(type='password', name="newPassword", value=formData.last)

    .control-group
      label.control-label(for='passwordConfirm') Confirm New Password
      .controls
        input#passwordConfirm.span2.required(type='password', name="passwordConfirm", value=formData.email)

    .form-actions
      button.btn.btn-primary(type='submit') Update